<style>
    article {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .container {
        border: 5px;
        border-style: solid;
        border-radius: 10px;
        border-color: yellow;
        padding: 3%;
        align-items: center;
        flex-direction: column;
        display: flex;
        justify-content: center;
    }
    .container-text-image {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .logo {
        width: 100px;
        height: 100px;
        object-fit: contain;
    }
    a {
        display: flex;
        justify-content: center;
        background-color: white;
        align-items: center;
        text-decoration: none;
        color: black;
        padding: 10px;
        border: solid;
        border-radius: 20px;
    }
    .images-container {
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }
</style>

<article>
    <h2>DNA Mutants</h2>
    <div class="container-text-image">
      <div>
        <p>This is my project about a final exam at university.</p>
        <p>It was made with Java 17 using matrixes to determinate if DNA belongs to a mutant or a human</p>
      </div>
    </div>
  </article>