<style>
  .contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: large;
  }
  
  .contact h1 {
    font-size: 3em;
    margin-bottom: 20px;
  }
  .contact p {
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 20px;
  }
  .contact ul {
    display: flex;
    gap: 5px;
    list-style-type: none;
    padding: 0;
  }
  .contact li {
    text-align: center;

    display: flex;
    align-items: center;
    margin: 10px 0;
  }

  .contact a {
    display: inline-block;
    padding: 10px 20px;
    background-color: black;
    color: yellow;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }

  .contact a:hover {
    background-color: yellow;
    color: black;
  }

  .contact .icon {
    margin-right: 10px;
  }
</style>

<section class="contact">
  <h1 style="color: yellow;">Contact</h1>
  <p>
    Feel free to reach out for collaborations, job opportunities, or just a chat
    about technology. I'm always looking for exciting new projects.
  </p>
  <ul>
    <li>
      <a href="mailto:juansgb316@example.com">
        <strong><span class="icon">📧</span> Email</strong>
      </a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/juan-guerre3168" target="_blank">
        <strong><span class="icon">🔗</span> LinkedIn</strong>
      </a>
    </li>
    <li>
      <a href="https://github.com/gjohnn" target="_blank">
        <strong><span class="icon">🐙</span> GitHub</strong>
      </a>
    </li>
  </ul>
</section>
