<style>
  ul {
    list-style: none;
    padding: 0;
  }
</style>

<section class="education">
  <h2>Education</h2>
  <ul>
    <li>
      <strong>Associate of Computer Science</strong>
      <p>2023 - Current</p>
    </li>
    <li>
      <strong>Certifications</strong>
      <p>Java Spring Developer (IT Hotbed)  - 2024</p>
      <p>GNU/Linux Manager  - 2024</p>
    </li>
    <li>
      <strong>IT Orientation School</strong>
      <p>Escuela de Comercio Martin Zapata</p>
      <p>2017 - 2021</p>
    </li>
    <li>
      <strong>B2 English Certification</strong>
      <p>Colegio de Lenguas Extranjeras</p>
      <p>2016 - 2020</p>
    </li>
  </ul>
</section>
