---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <h1 class="text-2xl font-bold">Acerca de nosotros</h1>
  <p>Somos un equipo apasionado por el desarrollo web.</p>
</MainLayout>
