---
import MainLayout from "../layouts/MainLayout.astro";
import EducationComponent from "../components/Myself-Info//EducationComponent.astro";
---

<style>
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 1200px; /* Evita que el contenido sea demasiado ancho */
    width: 90%;
    margin: 0 auto;
    padding: 0 1rem;
  }

  .intro {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; /* Permite que los elementos se acomoden en pantallas pequeñas */
    justify-content: center;
    align-items: center;
    gap: 20px;
    max-width: 900px;
  }

  .intro > article {
    flex: 1;
    min-width: 300px;
    max-width: 600px;
  }

  .intro > article > p {
    width: 100%;
    max-width: 600px; /* Evita que el texto se haga demasiado ancho */
  }

  .welcome > P {
    text-align: left;
  }

  .about > p {
    text-align: right;
  }

  .skills-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    width: 100%;
    max-width: 800px; /* Limita el ancho de la lista de skills */
  }

  .skills-list > li {
    padding: 0.5rem;
    border: solid yellow 2px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 250px; /* Controla el ancho de cada skill */
  }

  @media screen and (max-width: 768px) {
    .skills-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;
      max-width: 800px; /* Limita el ancho de la lista de skills */
    }
    .intro {
      flex-direction: column;
    }

    .intro > article {
      max-width: 100%;
    }

    .skills-list {
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 100%;
    }

    .welcome > P {
      text-align: center;
    }

    .about > p {
      text-align: center;
    }
  }

  @media screen and (max-width: 480px) {
    main {
      width: 95%;
      padding: 0 0.5rem;
    }

    .intro > article > p {
      font-size: 0.9rem;
    }

    h1 {
      font-size: 1.75rem;
    }

    h2 {
      font-size: 1.5rem;
    }
  }

</style>

<MainLayout>
  <main>
    <h1>Welcome to my Portfolio!</h1>
    <section class="intro">
      <article class="welcome">
        <p>
          Hi, I'm <strong>Juan Guerrero</strong>, a passionate backend developer
          with a strong focus on creating robust, scalable, and efficient
          applications. I specialize in <strong>backend development</strong>,
          leveraging modern technologies such as <strong
            >Java, Spring Boot and Laravel</strong
          >, and <strong>Docker</strong> to build high-performance systems.
        </p>
      </article>
      <article class="about">
        <p>
          I specialize in server-side technologies, designing and implementing
          solutions that enhance user experiences. Driven by a passion for
          solving complex problems, I continuously learn and evolve to create
          impactful software.
        </p>
        <p>
          My expertise includes backend development, and I utilize tools such as <strong
            >Neovim</strong
          >, <strong>DBeaver</strong>, <strong>PostgreSQL</strong>, and <strong
            >Spring Security</strong
          > to ensure well-architected and secure projects. Additionally, I work
          on microservices architectures, web scrapers, job schedulers, and real-time
          notifications.
        </p>
      </article>
    </section>

    <section class="skills">
      <h2>My Skills</h2>
      <ul class="skills-list" style="padding: 0;">
        <li>
          <div style="margin-bottom: 10px;">
            <strong>Backend Development</strong>
          </div>
          <div style="display: flex; align-items: center; margin-bottom: 5px;">
            <span>Java (Spring Boot)</span>
            <img
              src="https://cdn.jsdelivr.net/npm/simple-icons@v5/icons/spring.svg"
              alt="Spring Boot Logo"
              style="width: 30px; height: auto; filter: invert(1); margin-left: 8px;"
            />
          </div>
          <div style="display: flex; align-items: center; margin-bottom: 5px;">
            <span>C# .NET8/9</span>
            <img
              src="https://cdn.jsdelivr.net/npm/simple-icons@5.24.0/icons/csharp.svg"
              alt="Csharp Logo"
              style="width: 30px; height: auto; filter: invert(1); margin-left: 8px;"
            />
          </div>
          <div style="display: flex; align-items: center; margin-bottom: 5px;">
            <span>PHP (Laravel)</span>
            <img
              src="https://cdn.jsdelivr.net/npm/simple-icons@v5/icons/laravel.svg"
              alt="Laravel Logo"
              style="width: 30px; height: auto; filter: invert(1); margin-left: 8px;"
            />
          </div>
          <div style="display: flex; align-items: center; margin-bottom: 5px;">
            <span>Node.js</span>
            <img
              src="https://cdn.jsdelivr.net/npm/simple-icons@5.24.0/icons/nodedotjs.svg"
              alt="Node.js Logo"
              style="width: 30px; height: auto; filter: invert(1); margin-left: 8px;"
            />
          </div>
        </li>

        <li>
          <div style="margin-bottom: 10px;">
            <strong>Database Management</strong>
          </div>
          <div style="display: flex; align-items: center; margin-bottom: 5px;">
            <span>PostgreSQL</span>
            <img
              src="https://cdn.jsdelivr.net/npm/simple-icons@v5/icons/postgresql.svg"
              alt="PostgreSQL Logo"
              style="width: 30px; height: auto; filter: invert(1); margin-left: 8px;"
            />
          </div>
          <div style="display: flex; align-items: center; margin-bottom: 5px;">
            <span>MySQL</span>
            <img
              src="https://cdn.jsdelivr.net/npm/simple-icons@v5/icons/mysql.svg"
              alt="MySQL Logo"
              style="width: 30px; height: auto; filter: invert(1); margin-left: 8px;"
            />
          </div>
        </li>

        <li>
          <div style="margin-bottom: 10px;">
            <strong>DevOps & Cloud</strong>
          </div>
          <div style="display: flex; align-items: center; margin-bottom: 5px;">
            <span>Docker</span>
            <img
              src="https://cdn.jsdelivr.net/npm/simple-icons@v5/icons/docker.svg"
              alt="Docker Logo"
              style="width: 30px; height: auto; filter: invert(1); margin-left: 8px;"
            />
          </div>
          <div style="display: flex; align-items: center; margin-bottom: 5px;">
            <span>Kubernetes</span>
            <img
              src="https://cdn.jsdelivr.net/npm/simple-icons@v5/icons/kubernetes.svg"
              alt="Kubernetes Logo"
              style="width: 30px; height: auto; filter: invert(1); margin-left: 8px;"
            />
          </div>
        </li>
        <!-- VERSION CONTROL -->
        <li>
          <div style="margin-bottom: 10px;">
            <strong>Version Control</strong>
          </div>
          <div style="display: flex; align-items: center; margin-bottom: 5px;">
            <span>Git</span>
            <img
              src="https://cdn.jsdelivr.net/npm/simple-icons@v5/icons/git.svg"
              alt="Git Logo"
              style="width: 30px; height: auto; filter: invert(1); margin-left: 8px;"
            />
          </div>
          <div style="display: flex; align-items: center; margin-bottom: 5px;">
            <span>GitHub</span>
            <img
              src="https://cdn.jsdelivr.net/npm/simple-icons@v5/icons/github.svg"
              alt="GitHub Logo"
              style="width: 30px; height: auto; filter: invert(1); margin-left: 8px;"
            />
          </div>
          <div style="display: flex; align-items: center; margin-bottom: 5px;">
            <span>GitLab</span>
            <img
              src="https://cdn.jsdelivr.net/npm/simple-icons@v5/icons/gitlab.svg"
              alt="GitLab Logo"
              style="width: 30px; height: auto; filter: invert(1); margin-left: 8px;"
            />
          </div>
        </li>
        <!-- TOOLS -->

        <li>
          <div style="margin-bottom: 10px;">
            <strong>Tools I use for work </strong>
          </div>
          <div style="display: flex; align-items: center; margin-bottom: 5px;">
            <span>Neovim</span>
            <img
              src="https://cdn.jsdelivr.net/npm/simple-icons@v5/icons/neovim.svg"
              alt="Neovim Logo"
              style="width: 30px; height: auto; filter: invert(1); margin-left: 8px;"
            />
          </div>
          <div style="display: flex; align-items: center; margin-bottom: 5px;">
            <span>Wezterm</span>
            <img
              src="https://cdn.jsdelivr.net/npm/simple-icons@v5/icons/wezterm.svg"
              alt="Wezterm Logo"
              style="width: 30px; height: auto; filter: invert(1); margin-left: 8px;"
            />
          </div>
          <div style="display: flex; align-items: center; margin-bottom: 5px;">
            <span>DBeaver</span>
            <img
              src="https://cdn.jsdelivr.net/npm/simple-icons@v5/icons/dbeaver.svg"
              alt="DBeaver Logo"
              style="width: 30px; height: auto; filter: invert(1); margin-left: 8px;"
            />
          </div>
          <div style="display: flex; align-items: center; margin-bottom: 5px;">
            <span>Visual Studio Code</span>
            <img
              src="https://cdn.jsdelivr.net/npm/simple-icons@v5/icons/visualstudiocode.svg"
              alt="Visual Studio Code Logo"
              style="width: 30px; height: auto; filter: invert(1); margin-left: 8px;"
            />
          </div>
        </li>

        <li>
          <div style="margin-bottom: 10px;">
            <strong>Security</strong>
          </div>
          <div style="display: flex; align-items: center; margin-bottom: 5px;">
            <span>Spring Security</span>
            <img
              src="https://cdn.jsdelivr.net/npm/simple-icons@v5/icons/springsecurity.svg"
              alt="Spring Security Logo"
              style="width: 30px; height: auto; filter: invert(1); margin-left: 8px;"
            />
          </div>
          <div style="display: flex; align-items: center; margin-bottom: 5px;">
            <span>OAuth2</span>
            <img
              src="https://static-00.iconduck.com/assets.00/node-js-icon-1817x2048-g8tzf91e.png"
              alt="OAuth2 Logo"
              style="width: 30px; height: auto; filter: invert(1); margin-left: 8px;"
            />
          </div>
          <div style="display: flex; align-items: center; margin-bottom: 5px;">
            <span>JWT</span>
            <img
              src="https://cdn.jsdelivr.net/npm/simple-icons@v5/icons/jsonwebtokens.svg"
              alt="JWT Logo"
              style="width: 30px; height: auto; filter: invert(1); margin-left: 8px;"
            />
          </div>
        </li>
      </ul>
    </section>
    <EducationComponent />
  </main>
</MainLayout>
