---
import ContactComponent from "../components/Myself-Info/ContactComponent.astro";
import MainLayout from "../layouts/MainLayout.astro";
import EducationComponent from "../components/Myself-Info//EducationComponent.astro";
---

<style>
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .skills {
    display: flex;
  }

  .skills-list {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    gap: 15px;
    width: 100%;
  }

  .skills-list > li {
    padding: 5px;
    border: solid yellow 2px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  ul {
    padding: 0;
  }

  li {
    list-style: none;
  }

  h2 {
    color: yellow;
  }

  strong {
    font-size: 20px;
  }

  .intro {
    width: auto;
  }

  .intro > p {
    width: auto;
    text-align: center;
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-wrap: wrap;
    width: 100%;
    margin: 0; /* Center the container and add automatic margin */
    padding: 0; /* Add padding similar to Bootstrap's container */
  }

  html {
    font-size: 100%; /* Establece un tamaño de fuente base */
  }

  body {
    font-size: 1rem; /* 1rem es igual al tamaño de fuente base */
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    padding: 0 1.5rem; /* Usa rem para relleno */
  }

  h1 {
    font-size: 2rem; /* Usa rem para títulos */
  }

  h2 {
    font-size: 1.75rem;
    color: yellow;
  }

  p {
    font-size: 1rem;
  }

  strong {
    font-size: 1.25rem; /* Usa rem para texto en negrita */
  }

  ul {
    padding: 0;
  }

  li {
    list-style: none;
    margin-bottom: 1rem; /* Usa rem para márgenes */
  }

  .skills-list > li {
    padding: 0.5rem; /* Usa rem para relleno */
    border: solid yellow 2px;
    border-radius: 10px;
  }
</style>

<MainLayout>
  <main>
    <section class="intro">
      <h1>Welcome to my Portfolio!</h1>
      <p style="">
        Hi, I'm <strong>Juan Guerrero</strong>, a passionate backend developer
        with a strong focus on creating robust, scalable, and efficient
        applications. I specialize in <strong>backend development</strong>,
        leveraging modern technologies such as <strong
          >Java, Spring Boot and Laravel</strong
        >, and <strong>Docker</strong> to build high-performance systems.
      </p>
    </section>

    <section class="about">
      <h2>About Me</h2>
      <p>
        I specialize in server-side technologies, designing and implementing
        solutions that enhance user experiences. Driven by a passion for solving
        complex problems, I continuously learn and evolve to create impactful
        software.
      </p>
      <p>
        My expertise includes backend development, and I utilize tools such as <strong
          >Neovim</strong
        >, <strong>DBeaver</strong>, <strong>PostgreSQL</strong>, and <strong
          >Spring Security</strong
        > to ensure well-architected and secure projects. Additionally, I work on
        microservices architectures, web scrapers, job schedulers, and real-time
        notifications.
      </p>
    </section>

    <section class="skills">
      <h2>My Skills</h2>
      <ul class="skills-list">
        <li>
          <div style="margin-bottom: 10px;">
            <strong>Backend Development</strong>
          </div>
          <div style="display: flex; align-items: center; margin-bottom: 5px;">
            <span>Java (Spring Boot)</span>
            <img
              src="https://cdn.jsdelivr.net/npm/simple-icons@v5/icons/spring.svg"
              alt="Spring Boot Logo"
              style="width: 30px; height: auto; filter: invert(1); margin-left: 8px;"
            />
          </div>
          <div style="display: flex; align-items: center; margin-bottom: 5px;">
            <span>C# .NET8/9</span>
            <img
              src="https://cdn.jsdelivr.net/npm/simple-icons@5.24.0/icons/csharp.svg"
              alt="Csharp Logo"
              style="width: 30px; height: auto; filter: invert(1); margin-left: 8px;"
            />
          </div>
          <div style="display: flex; align-items: center; margin-bottom: 5px;">
            <span>PHP (Laravel)</span>
            <img
              src="https://cdn.jsdelivr.net/npm/simple-icons@v5/icons/laravel.svg"
              alt="Laravel Logo"
              style="width: 30px; height: auto; filter: invert(1); margin-left: 8px;"
            />
          </div>
          <div style="display: flex; align-items: center; margin-bottom: 5px;">
            <span>Node.js</span>
            <img
              src="https://cdn.jsdelivr.net/npm/simple-icons@5.24.0/icons/nodedotjs.svg"
              alt="Node.js Logo"
              style="width: 30px; height: auto; filter: invert(1); margin-left: 8px;"
            />
          </div>
        </li>

        <li>
          <div style="margin-bottom: 10px;">
            <strong>Database Management</strong>
          </div>
          <div style="display: flex; align-items: center; margin-bottom: 5px;">
            <span>PostgreSQL</span>
            <img
              src="https://cdn.jsdelivr.net/npm/simple-icons@v5/icons/postgresql.svg"
              alt="PostgreSQL Logo"
              style="width: 30px; height: auto; filter: invert(1); margin-left: 8px;"
            />
          </div>
          <div style="display: flex; align-items: center; margin-bottom: 5px;">
            <span>MySQL</span>
            <img
              src="https://cdn.jsdelivr.net/npm/simple-icons@v5/icons/mysql.svg"
              alt="MySQL Logo"
              style="width: 30px; height: auto; filter: invert(1); margin-left: 8px;"
            />
          </div>
        </li>

        <li>
          <div style="margin-bottom: 10px;">
            <strong>DevOps & Cloud</strong>
          </div>
          <div style="display: flex; align-items: center; margin-bottom: 5px;">
            <span>Docker</span>
            <img
              src="https://cdn.jsdelivr.net/npm/simple-icons@v5/icons/docker.svg"
              alt="Docker Logo"
              style="width: 30px; height: auto; filter: invert(1); margin-left: 8px;"
            />
          </div>
          <div style="display: flex; align-items: center; margin-bottom: 5px;">
            <span>Kubernetes</span>
            <img
              src="https://cdn.jsdelivr.net/npm/simple-icons@v5/icons/kubernetes.svg"
              alt="Kubernetes Logo"
              style="width: 30px; height: auto; filter: invert(1); margin-left: 8px;"
            />
          </div>
        </li>
        <!-- VERSION CONTROL -->
        <li>
          <div style="margin-bottom: 10px;">
            <strong>Version Control</strong>
          </div>
          <div style="display: flex; align-items: center; margin-bottom: 5px;">
            <span>Git</span>
            <img
              src="https://cdn.jsdelivr.net/npm/simple-icons@v5/icons/git.svg"
              alt="Git Logo"
              style="width: 30px; height: auto; filter: invert(1); margin-left: 8px;"
            />
          </div>
          <div style="display: flex; align-items: center; margin-bottom: 5px;">
            <span>GitHub</span>
            <img
              src="https://cdn.jsdelivr.net/npm/simple-icons@v5/icons/github.svg"
              alt="GitHub Logo"
              style="width: 30px; height: auto; filter: invert(1); margin-left: 8px;"
            />
          </div>
          <div style="display: flex; align-items: center; margin-bottom: 5px;">
            <span>GitLab</span>
            <img
              src="https://cdn.jsdelivr.net/npm/simple-icons@v5/icons/gitlab.svg"
              alt="GitLab Logo"
              style="width: 30px; height: auto; filter: invert(1); margin-left: 8px;"
            />
          </div>
        </li>
        <!-- TOOLS -->

        <li>
          <div style="margin-bottom: 10px;">
            <strong>Tools I use for work </strong>
          </div>
          <div style="display: flex; align-items: center; margin-bottom: 5px;">
            <span>Neovim</span>
            <img
              src="https://cdn.jsdelivr.net/npm/simple-icons@v5/icons/neovim.svg"
              alt="Neovim Logo"
              style="width: 30px; height: auto; filter: invert(1); margin-left: 8px;"
            />
          </div>
          <div style="display: flex; align-items: center; margin-bottom: 5px;">
            <span>Wezterm</span>
            <img
              src="https://cdn.jsdelivr.net/npm/simple-icons@v5/icons/wezterm.svg"
              alt="Wezterm Logo"
              style="width: 30px; height: auto; filter: invert(1); margin-left: 8px;"
            />
          </div>
          <div style="display: flex; align-items: center; margin-bottom: 5px;">
            <span>DBeaver</span>
            <img
              src="https://cdn.jsdelivr.net/npm/simple-icons@v5/icons/dbeaver.svg"
              alt="DBeaver Logo"
              style="width: 30px; height: auto; filter: invert(1); margin-left: 8px;"
            />
          </div>
          <div style="display: flex; align-items: center; margin-bottom: 5px;">
            <span>Visual Studio Code</span>
            <img
              src="https://cdn.jsdelivr.net/npm/simple-icons@v5/icons/visualstudiocode.svg"
              alt="Visual Studio Code Logo"
              style="width: 30px; height: auto; filter: invert(1); margin-left: 8px;"
            />
          </div>
        </li>

        <li>
          <div style="margin-bottom: 10px;">
            <strong>Security</strong>
          </div>
          <div style="display: flex; align-items: center; margin-bottom: 5px;">
            <span>Spring Security</span>
            <img
              src="https://cdn.jsdelivr.net/npm/simple-icons@v5/icons/springsecurity.svg"
              alt="Spring Security Logo"
              style="width: 30px; height: auto; filter: invert(1); margin-left: 8px;"
            />
          </div>
          <div style="display: flex; align-items: center; margin-bottom: 5px;">
            <span>OAuth2</span>
            <img
              src="https://static-00.iconduck.com/assets.00/node-js-icon-1817x2048-g8tzf91e.png"
              alt="OAuth2 Logo"
              style="width: 30px; height: auto; filter: invert(1); margin-left: 8px;"
            />
          </div>
          <div style="display: flex; align-items: center; margin-bottom: 5px;">
            <span>JWT</span>
            <img
              src="https://cdn.jsdelivr.net/npm/simple-icons@v5/icons/jsonwebtokens.svg"
              alt="JWT Logo"
              style="width: 30px; height: auto; filter: invert(1); margin-left: 8px;"
            />
          </div>
        </li>
      </ul>
    </section>
    <EducationComponent />
  </main>
</MainLayout>
